.containers{
    margin-bottom: 100px;
}
.buy-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    cursor: pointer;
}
.smartphone h6{
    color: orange;
}
.text-align{
    text-align: center;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    padding-top: 30px;
    padding-bottom: 30px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.Laptop h6{
    color: orange;
}
.Laptop{
    margin-bottom: 30px;
}
.product{
    margin-top: 100px;
    margin-bottom: 100px;
}
.categories h4{
    text-align: center;
    
}
.categories-card{
    align-items: center;
    text-align: center;
    border-radius: 3px solid gray;
}
.categories{
    margin-top: 100px;
}
.bag{
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.last-images{
    height: 400px;
    width: 450px;
}
